# Private
/docs/private-attachment
.env

#### IDE
.vs/
.vscode/
.idea/

# Visual Studio
Debug/
Release/
x64/
x86/

# macOS
.DS_Store
Thumbs.db

#### Programming Language
# Node.js
node_modules/
packages/

# .NET
bin/
obj/
*.user
*.suo

# Python
__pycache__/
*.pyc
.venv/
venv/
